{% extends 'app2/base.html' %}





{% block content %}
 <div >hello tout le monde  hello tout le monde hello tout le monde hello tout le monde hello tout le monde hello tout le monde hello tout le monde</div>

{{identifiant.Question_text }}

<h3>                    *********  {{identifiant.Question_text}} ({{identifiant.id}}) **********</h3>
<div class="label">
 <label for="t{{ forloop.counter }}">{{ t.choice_text }}</label><br>

</div>
<form action="{% url 'vote' identifiant.id %}" method="post">
{% csrf_token %}
<fieldset>
{% for choice in identifiant.choice_set.all%}
<input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
 ({{choice.votes}})
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
   
{% endfor %}


</fieldset>
<input type="submit" value="Vote">
</from>



{% endblock %}
